@tailwind base;
@tailwind components;
 body {
  @apply
    flex align-middle justify-center
  }

.btn {
  @apply mx-4 rounded-md bg-primary-500 px-2 py-2 
        text-center text-sm font-semibold text-white shadow-sm 
        hover:bg-primary-700 hover:scale-105
        focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-primary-900
}

.btn-xl {
  @apply px-[15px] py-[30px] mx-4 rounded-md bg-primary-500 
        text-[20px] text-center font-semibold text-white shadow-sm 
        hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-primary-900
        hover:scale-105

}
.btn-lg {
  @apply px-[12px] py-[16px] mx-4 rounded-md bg-primary-500  
        text-[16px] text-center font-semibold text-white shadow-sm 
        hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-primary-900
        hover:scale-105
}
.btn-md {
  @apply px-[8px] py-[10px] mx-4 rounded-md bg-primary-500
        text-[14px] text-center font-semibold text-white shadow-sm 
        hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-primary-900
        hover:scale-105
}
.btn-sm {
  @apply px-[6px] py-[8px] mx-4 rounded-md bg-primary-500
        text-[12px] text-center font-semibold text-white shadow-sm 
        hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-primary-900
        hover:scale-105
}

/* btn-xl: font-size: 20px; padding: 15px 30px  */
/* btn-lg: font-size: 16px; padding: 12px 16px  */
/* btn-md: font-size: 14px; padding: 8px 10px  */
/* btn-sm: font-size: 12px; padding: 6px 8px  */

.tableColumns {
  /* font-size + font-weight + text-color  */
  @apply px-3 py-3.5 text-left text-sm font-semibold text-secondary-700  
  
  
}
@tailwind utilities;
